<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <title>To Do App</title>
</head>

<body>

    <!-- List Canvas -->
    <article class="app-canvas">

        <div class="center-canvas">

            <h1>What's up, Avdhesh!</h1>

            <!-- Date -->
            <p class="ghost date"> <%= dateHTML %> </p>

            <p class="ghost today-task">Today's tasks</p>

            <section action="/" method="post" class="dummy-list">

                <!-- <div class="list">
                    <input class="checkbox" type="checkbox" name="list" id="">
                    <label for="list">Daily meeting with team</label>
                </div>

                <div class="list">
                    <input type="checkbox" name="list" id="">
                    <label for="list">Build News API</label>
                </div>

                <div class="list">
                    <input type="checkbox" name="list" id="">
                    <label for="list">Upload to Github</label>
                </div> -->

                <% newItemHTML.forEach(function(item) {  %>
                    <form action="/delete" method="post">
                        <div class="list">
                            <input type="checkbox" name="checkbox" value="<%= item %>" onChange="this.form.submit()">
                            <label for="list"> <%= item %> </label>
                        </div>  
                    </form>
                <%  });  %>

                

                <form class="form" action="/" method="post">
                    <input class="new-list-ip" name="newItem" placeholder="New Item" type="text">
                    <button class="add-btn" type="submit"><span>&#43;</span></button>
                </form>
                
                
            </section>


        </div>



    </article>




</body>

</html>